In [2]:
# 加载模型所需要的的包
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

# 构造一个数据集，只包含一列数据，假如都是月薪数据，有些可能是错的
df = pd.DataFrame(
    {'salary': [4, 1, 4, 5, 3, 6, 2, 5, 6, 2, 5, 7, 1, 8, 12, 33, 4, 7, 6, 7, 8, 55]})

# 构建模型 ,n_estimators=100 ,构建100颗树
model = IsolationForest(n_estimators=100,
                        max_samples='auto',
                        contamination=float(0.1),
                        max_features=1.0)
# 训练模型
model.fit(df[['salary']])

# 预测 decision_function 可以得出 异常评分
df['scores'] = model.decision_function(df[['salary']])

#  predict() 函数 可以得到模型是否异常的判断，-1为异常，1为正常
df['anomaly'] = model.predict(df[['salary']])
df

    salary    scores  anomaly
0        4  0.219304        1
1        1  0.110929        1
2        4  0.219304        1
3        5  0.238100        1
4        3  0.153869        1
5        6  0.242595        1
6        2  0.164951        1
7        5  0.238100        1
8        6  0.242595        1
9        2  0.164951        1
10       5  0.238100        1
11       7  0.217097        1
12       1  0.110929        1
13       8  0.170245        1
14      12 -0.012325       -1
15      33 -0.092033       -1
16       4  0.219304        1
17       7  0.217097        1
18       6  0.242595        1
19       7  0.217097        1
20       8  0.170245        1
21      55 -0.155025       -1

In [3]:
import plotly.express as px
from sklearn.datasets import load_iris
from sklearn.ensemble import IsolationForest

data = load_iris(as_frame=True)
X, y = data.data, data.target
df = data.frame
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
# 模型训练
iforest = IsolationForest(n_estimators=100, max_samples='auto',
                          contamination=0.05, max_features=4,
                          bootstrap=False, n_jobs=-1, random_state=1)


#  fit_predict 函数 训练和预测一起 可以得到模型是否异常的判断，-1为异常，1为正常
df['label'] = iforest.fit_predict(X)

# 预测 decision_function 可以得出 异常评分
df['scores'] = iforest.decision_function(X)

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label,scores
0,5.1,3.5,1.4,0.2,0,1,0.177972
1,4.9,3.0,1.4,0.2,0,1,0.148945
2,4.7,3.2,1.3,0.2,0,1,0.129540
3,4.6,3.1,1.5,0.2,0,1,0.119440
4,5.0,3.6,1.4,0.2,0,1,0.169537
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,1,0.131967
146,6.3,2.5,5.0,1.9,2,1,0.122848
147,6.5,3.0,5.2,2.0,2,1,0.160523
148,6.2,3.4,5.4,2.3,2,1,0.073536
149,5.9,3.0,5.1,1.8,2,1,0.169074

In [6]:
# 我们看看哪些预测为异常的
df[df.label==-1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label,scores
13,4.3,3.0,1.1,0.1,0,-1,-0.039104
15,5.7,4.4,1.5,0.4,0,-1,-0.003895
41,4.5,2.3,1.3,0.3,0,-1,-0.038639
60,5.0,2.0,3.5,1.0,1,-1,-0.008813
109,7.2,3.6,6.1,2.5,2,-1,-0.037663
117,7.7,3.8,6.7,2.2,2,-1,-0.046873
118,7.7,2.6,6.9,2.3,2,-1,-0.055233
131,7.9,3.8,6.4,2.0,2,-1,-0.064742

In [9]:
df['anomaly'] = df['label'].apply(lambda x: 'outlier' if x == -1 else 'inlier')
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label,scores,anomaly
0,5.1,3.5,1.4,0.2,0,1,0.177972,inlier
1,4.9,3.0,1.4,0.2,0,1,0.148945,inlier
2,4.7,3.2,1.3,0.2,0,1,0.129540,inlier
3,4.6,3.1,1.5,0.2,0,1,0.119440,inlier
4,5.0,3.6,1.4,0.2,0,1,0.169537,inlier
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,1,0.131967,inlier
146,6.3,2.5,5.0,1.9,2,1,0.122848,inlier
147,6.5,3.0,5.2,2.0,2,1,0.160523,inlier
148,6.2,3.4,5.4,2.3,2,1,0.073536,inlier
149,5.9,3.0,5.1,1.8,2,1,0.169074,inlier

In [ ]:
fig = px.histogram(df, x='scores', color='anomaly')
fig.show()

In [ ]:
fig = px.scatter_3d(df, x='petal width (cm)',
                    y='sepal length (cm)',
                    z='sepal width (cm)',
                    color='anomaly')
fig.show()